<h1>Editing Admin Departament</h1>

<%= render 'form', admin_departament: @admin_departament %>

<%= link_to 'Show', admin_departament_path(@admin_departament) %> |
<%= link_to 'Back', admin_departaments_path %>
