<% @link = edit_password_url(@resource, reset_password_token: @resource.send(:set_reset_password_token)) %>
<% @resource.field? ? @link.gsub!('/admin/', '/app/') : @link %>

<p>Olá <%= @resource.email %>!</p>

<% if @resource.created_at == @resource.updated_at %>
    <p>Seja bem vindo, como este é seu primeiro contato com o sistema, precisamos que reset sua senha antes de acessá-lo. você pode fazer isso clicando no link abaixo.</p>
<% else %>
    <p>Nosso sistema recebeu uma solicitação de reset de senha. Você pode fazer isso clicando no link abaixo.</p>
<% end %>

<p><%= link_to 'Resetar senha', @link %></p>

<p>Se você não solicitou esta ação, favor ignorar este e-mail.</p>
